:root {
	/* --primary: #1A0B12;
	--accent-soft: #732C3F;
	--bg-color: #C57C8A;
	--white: #F7E8EC; */

	/* --primary: #5A3C0B;
	--accent-soft: #C48B28;
	--bg-color: #EBC176;
	--white: #FFF5E1; */

	/* Assez propres, mais trop formel je trouve */
	--primary: #0d2440;
	--accent-soft: #2e5e99;
	--bg-color: #7ba4d0;
	--white: #e7f0fa;

	/* --primary: #576238;
	--accent-soft: #ffd95d;
	--bg-color: #f0eadc;
	--white: #ffffff; */

	/* --primary: #461312;
	--accent-soft: #ed809d;
	--bg-color: #c9c769;
	--white: #ffffff; */

	/* --primary: #162660;
	--accent-soft: #d0e6fd;
	--bg-color: #f1e4d1;
	--white: #ffffff; */

	/* --primary: #7c1f31;
	--accent-soft: #69a481;
	--bg-color: #e7edeb;
	--white: #ffffff; */

	/* --primary: #7c1f31;
	--accent-soft: #e7edeb;
	--bg-color: #69a481;
	--white: #ffffff; */

	/* Assez propres, class meme */
	/* --primary: #6f6134;
	--accent-soft: #e1c68f;
	--bg-color: #fae7c9;
	--white: #ffffff; */

	/* --primary: #162660;
	--accent-soft: #d0e6fd;
	--bg-color: #f1e4d1;
	--white: #ffffff; */

	/* --primary: #3d402f;
	--accent-soft: #fcf9d8;
	--bg-color: #c99fcd;
	--white: #ffffff; */

	/* --primary: #3d402f;
	--accent-soft: #c99fcd;
	--bg-color: #fcf9d8;
	--white: #ffffff; */
}

body {
	background-color: var(--bg-color);
	color: var(--primary);
	font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 900px;
	margin: 2rem auto;
	padding: 0 1rem;
}

.card {
	background: var(--white);
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(115, 44, 63, 0.1);
	margin-bottom: 1.5rem;
}

/* Formulaire & Inputs */
label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input[type='number'] {
	width: 100%;
	padding: 0.7rem;
	margin-bottom: 1.5rem;
	border: 1px solid var(--accent-soft);
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1rem;
}

/* Système de Chips */
.chips-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 1.5rem;
}

.chip {
	padding: 0.5rem 1rem;
	border: 1px solid var(--accent-soft);
	border-radius: 20px;
	background: var(--white);
	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
}

.chip.active {
	background: var(--primary);
	color: var(--white);
	border-color: var(--primary);
}

/* Résultats */
.results-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
}

.badge-no-web {
	color: var(--primary);
	font-weight: bold;
	background: #ffebee;
	padding: 4px 10px;
	border-radius: 4px;
	font-size: 0.75rem;
}

.bolder-text {
	font-weight: 700;
}

.btn-action {
	width: 100%;
	background: var(--primary);
	color: white;
	border: none;
	padding: 0.8rem;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 1rem;
}

.btn-action:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
